body {
    color: #cccccc;
    font-family:Monospace;
    font-size:13px;
    text-align:center;

    background-color: #050505;
    margin: 0px;
    overflow: hidden;
}

.checkbox {
    position: fixed;
    left: 100px;
    top: 1%;
}

.label {
    position: fixed;
    left: 120px;
    top: 1%;
    color: white;
}
