:root {
    --base-color: #FFF;
}

body  {
    font-family: "Times New Roman", Times, serif;
}

.list, a {
    color: var(--base-color);
    font-size: 2em;
}

.list {
    list-style: none;
    overflow: scroll;
}

.list li a::before {
    display: inline-block;
    content: "☛ ";
    line-height: 1em;
    padding-right: 0.4em;
}

.list li a:hover::before {
    display: inline-block;
    content: "☞ ";
    padding-right: 0.4em;
}

a {
    text-decoration: none;
    transition: letter-spacing .2s cubic-bezier(0.35, 0.54, 0.43, 0.93);
}

a:hover {
    letter-spacing: .1vw;
    color: #2EAFAC;
    background-color: var(--base-color);
}

.bg {
    z-index: -1;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
