{{ partial "head.html" . }}

<ol class="list">
    {{ range first 10 .Data.Pages }}
    <li>
        {{ .Render "summary"}}
    </li>
    {{ end }}
    <!--- Should look like this eventually:
            <li> <a href="day1.html">pointcloud</a> </li>
            <li> <a href="day2.html">anaglyph</a> </li>
            <li> <a href="day3.html">(L) A P S E</a> </li>
            <li> <a href="day4.html">hdge⎋hog</a> </li>
            <li> <a href="day5.html">lor3m</a> </li>
    -->
    <img class="bg" src="./assets/images/bg.jpg" alt="Background image of poles">
</ol>

{{ partial "tail.html" . }}
